<app-select-acc (onSelection)="handleAccSelection($event)" [acumulators]="acumulators"></app-select-acc>

@if(selactedAcc) {
  <app-akumulator-details [akumulator]="selactedAcc"></app-akumulator-details>
}

@if (autobusElektryczny(); as autobusElektryczny) {
  <app-progress-bar label="Poziom naładowania" [value]="autobusElektryczny.poziomNaladowania"></app-progress-bar>
}

@if (autobusSilnikowy(); as autobusSilnikowy) {
  <app-progress-bar label="Poziom paliwa" [value]="autobusSilnikowy.iloscPaliwa"></app-progress-bar>
}

@if (autobusHybrydowy(); as autobusHybrydowy) {
  <div style="display: flex; flex-direction: column; gap: 10px">
    <app-progress-bar label="Poziom paliwa" [value]="autobusHybrydowy.iloscPaliwa"></app-progress-bar>
  </div>
  <app-progress-bar label="Poziom naładowania" [value]="autobusHybrydowy.poziomNaladowania"></app-progress-bar>
}
