<div class="autobus-panel">
  <section>
    <app-select-acc (onSelection)="handleAccSelection($event)" [acumulators]="acumulators"></app-select-acc>

    @if (selactedAcc) {
      <app-akumulator-details [akumulator]="selactedAcc"></app-akumulator-details>
    }

    @if (autobusElektryczny()) {
      <app-progress-bar label="Poziom naładowania" [value]="poziomNaladowania ?? 0"></app-progress-bar>
    }

    @if (autobusSilnikowy(); as autobusSilnikowy) {
      <app-progress-bar label="Poziom paliwa" [value]="autobusSilnikowy.iloscPaliwa"></app-progress-bar>
    }

    @if (autobusHybrydowy()) {
      <div style="display: flex; flex-direction: column; gap: 10px">
        <app-progress-bar label="Poziom paliwa" [value]="autobusHybrydowy()?.iloscPaliwa ?? 0"></app-progress-bar>
      </div>
      <app-progress-bar label="Poziom naładowania" [value]="poziomNaladowania?? 0"></app-progress-bar>
    }
  </section>

  <section class="action-section">
    @if (!autobusSilnikowy()) {
      <button mat-button (click)="handleAkumulatorChange()">Wymiana Akumulatora</button>
      <mat-divider></mat-divider>
      <app-charger-action (onSelection)="handleChargeAction($event)" [chargerModes]="chargerModes"></app-charger-action>
    }
  </section>
</div>
